# QGIS Agent - Python plugin for QGIS

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.db

# Runtime artifacts
MEMORY.md
extlibs/

# Build output
*.zip

# Dev tools
.codebuddy/
.codebuddy/
